body {
	padding-top: 75px;
	color:#fff;
	background-color:#000;
	font-family:"Lato","Helvetica Neue";
	overflow:scroll;
}

p {
	text-align:justify;
}

#main-container {
	background: url("../images/bg.jpg") no-repeat 700px 0px fixed #000;
}

.ajax-link:hover {
	cursor:pointer;
}

.btn [class^="icon-"],
.nav [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"] {
	color:#999;
}

.btn [class^="icon-"]:hover,
.nav [class^="icon-"]:hover,
.btn [class*=" icon-"]:hover,
.nav [class*=" icon-"]:hover {
	color:#fff;
}

.lyrics {
	color:#000;
}

#music-player {
	padding:1em;
	margin:1em;
	background-color:rgba(50,50,50,0.8);
	border-radius:1em;
	width:256;
	position:fixed;
	right:0;
	bottom:0;
}

#music-player #download{
    position:absolute;
    top:132px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#999;
}

#music-player #download:hover{
    color:#fff;
}