body {
	padding-top: 75px;
	color:#fff;
	background-color:#000;
	font-family:"Helvetica Neue";
	overflow:scroll;
}

p {
	text-align:justify;
}

#main-container {
	background: url("../img/bg.jpg") no-repeat 700px 0px fixed #000;
}

.ajax-link:hover {
	cursor:pointer;
}