body {
	padding-top: 75px;
	color:#fff;
	background-color:#000;
	font-family:"Lato","Helvetica Neue";
	overflow:scroll;
}

p {
	text-align:justify;
}

#main-container {
	background: url("../img/bg.jpg") no-repeat 700px 0px fixed #000;
}

.ajax-link:hover {
	cursor:pointer;
}

.btn [class^="icon-"],
.nav [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"] {
	color:#999;
}

.btn [class^="icon-"]:hover,
.nav [class^="icon-"]:hover,
.btn [class*=" icon-"]:hover,
.nav [class*=" icon-"]:hover {
	color:#fff;
}